body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

header {
  padding: 10px;
  text-align: center;
  background: #111;
}

#chat {
  padding: 20px;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.msg {
  margin-bottom: 10px;
}

.user {
  color: #4ea1ff;
}

.bot {
  color: #7CFC00;
}

footer {
  display: flex;
  gap: 5px;
  padding: 10px;
  background: #111;
}

input, select, button {
  padding: 8px;
}
