name = "chatgram-api"
main = "index.js"
compatibility_date = "2026-01-16"

[[durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]
